@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@config "../../tailwind.config.js";

/* Global Font Override */
* {
  font-family: 'Montserrat', sans-serif !important;
}

.lexend {
  font-family: "Lexend", "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.rubik {
  font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.beautique {
  font-family: "Beautique Display", "Figtree", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.figtree {
  font-family: "Figtree", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}